body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 30px;
    padding: 0;
    background-color: rgb(222, 214, 197);
    color: #333;
    direction: rtl;
}

header {
    background-color: #1f1f1f;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 90px;
    border-radius: 5px;
}

#logo {
    height: 60px;
}

#navbar {
    list-style: none;
    display: flex;
    gap: 20px;
}

#navbar li {
    display: inline;
    font-size: 22px;
}

#navbar a {
    color: #fff;
    text-decoration: none;
}

#navbar a:hover {
    text-decoration: underline;
}

#main-content {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

#main-content img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#main-content p {
    font-size: 16px;
    text-align: justify;
    margin-top: 10px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #1f1f1f;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}

footer ul {
    list-style: none;
}

footer li {
    margin: 10px 0;
    font-size: 18px;
}

footer .icon {
    height: 20px;
    vertical-align: middle;
    margin-left: 10px;
    height: 24px;
    margin-left: 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
